<section id='station'>
  <p>Name: <%= @station_facade.station.name %></p>
  <p>Address: <%= @station_facade.station.address %></p>
  <p>Fuel type: <%= @station_facade.station.fuel_type %></p>
  <p>Access times: <%= @station_facade.station.access_times %></p>
</section>
